
.mode-buttons {
    display: flex;
    flex-direction: column; /* 縦方向にボタンを並べる */
    align-items: center; /* 横方向に中央揃え */
    justify-content: center; /* 中央揃え */
    gap: 20px; /* ボタンの間隔を縦に開ける */
    margin-top: 100px;
}
.btn{

	display: block;
	text-align: center;
    justify-content: center; /* ボタン内テキストを中央に */
    align-items: center; /* ボタン内テキストを中央に */
	text-decoration: none;
	width: 170px;
    height: 100px;
    padding: 0; /* 内側の余白をなくす */
	font-weight: bold;
	color: #0396A6;
	border-bottom: 2px solid #0396A6;
	border-radius: 5%;
	box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
	transition: 0.5s;
    cursor: pointer; /* ボタンがクリック可能に見える */
    font-size: 14px; /* 文字サイズ */
    white-space: nowrap; /* 文字が横に並ぶように */
    margin-bottom: 30px; /* ボタンの下に30pxの間隔を追加 */

}
.btn:hover {
	color: #fff;
	background: #0396A6;
	border-bottom: 2px solid #fff;
	transform: translateY(3px);
}