h3{
  margin-top: 100px;
  margin-left: 20px;
}
textarea[name="free_text"] {
  margin-left: 40%;
  width: 180px;
  height: 120px; /* 高さを大きく設定 */
  font-size: 18px; /* フォントサイズを大きく設定 */
  padding: 10px; /* 内側の余白を設定 */
  border: 2px solid #ccc; /* 境界線を太く設定 */
  border-radius: 5%; /* 角を丸める */
  resize: none; /* サイズ変更を無効化 */
}
/*ボタン*/

.btn {

  display: inline-block; /* ボタンをインライン要素に */
  padding: 10px  12px; /* ボタン内のスペース */
  font-size: 1epx; /* フォントサイズ */
  font-weight: bold; /* 太字 */
  color: #fff; /* 文字色 */
  background-color: #12627d; /* 背景色 */
  border: 2px solid #12627d; /* 枠線 */
  border-radius: 5px; /* 丸みを持たせる */
  text-align: center; /* 文字を中央に */
  text-decoration: none; /* テキストの下線をなくす */
  transition: all 0.3s ease; /* ホバー時のトランジション */
}

/* ボタンのホバー時のスタイル */
.btn:hover {
  background-color: #0396A6; /* ホバー時の背景色 */
  color: #fff; /* ホバー時の文字色 */
  border-color: #0396A6; /* ホバー時の枠線色 */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* シャドウを追加 */
  transform: translateY(-2px); /* ボタンが少し浮き上がる */
}

/* ボタンがアクティブ（クリック時） */
.btn:active {
  background-color: #0396A6; /* クリック時の背景色 */
  border-color: #0396A6; /* クリック時の枠線色 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* クリック時のシャドウ */
  transform: translateY(0); /* クリック時に浮き上がり効果をなくす */
}



.category-buttons {
  display: flex;
  flex-wrap: wrap; /* ボタンを折り返して2個ずつ並べる */
  justify-content: center; /* 中央揃え */
  gap: 20px; /* ボタンの間隔 */
  margin-bottom: 20px;
}
.category-btn{
display: block;
text-align: center;
  justify-content: center; /* ボタン内テキストを中央に */
  align-items: center; /* ボタン内テキストを中央に */
text-decoration: none;
width: 120px;
  height: 120px;
  padding: 0; /* 内側の余白をなくす */
font-weight: bold;
color: #0396A6;
border-bottom: 2px solid #0396A6;
border-radius: 50%;
box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
transition: 0.5s;
  cursor: pointer; /* ボタンがクリック可能に見える */
  font-size: 14px; /* 文字サイズ */
  white-space: nowrap; /* 文字が横に並ぶように */

}
.category-btn:hover {
color: #fff;
background: #0396A6;
border-bottom: 2px solid #fff;
transform: translateY(3px);
}

/*モーダル画面*/
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #888;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
