<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <header>
    <p>カテゴリー選択</p>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='category.css') }}">
  </header>
</head>
<body>
    <!-- ボタン -->
    <form action="/category/submit_category" method="post">
      <h3>カテゴリーを選択してください</h3>
      <div class="category-buttons">
      {% for category in categories %}
          <button type="submit" name="category" value="{{ category }}" class="category-btn">{{ category }}</button>
      {% endfor %}
      <!-- 自由記述 -->
      <button type="button" id="modalButton">自由記述</button>

      <div id="modal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <p>議論したいテーマを記述してください</p>
          <textarea name="topic" id="freeText"></textarea>
          <button type="submit" id="saveBtn">送信</button>
        </div>
      </div>
    </form>

    <script>
      const modal = document.getElementById('modal');
      const btn = document.getElementById('modalButton');
      const span = document.getElementsByClassName("close")[0];

      btn.onclick = function() {
        modal.style.display = "block";
      }

      span.onclick = function() {
        modal.style.display = "none";
      }

      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>
</body>
</html>
