<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>カテゴリー選択</title>
</head>
<body>
    <h1>カテゴリーを選択してください</h1>
    <form action="/category/submit_category" method="post">
      <h3>カテゴリーを選択してください</h3>
      {% for category in categories %}
          <button type="submit" name="category" value="{{ category }}">{{ category }}</button>
      {% endfor %}
      <textarea name="free_text" placeholder="自由記述テーマを入力してください"></textarea>
      <button type="submit">送信</button>
  </form>
  
  
</body>
</html>