<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ディベートアプリ（仮）</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header-buttons">
            <div class="header-links-container">
                <!-- ホーム画面に戻るアイコン -->
                <button type="submit" class="header-link">
                    <img src="{{ url_for('static', filename='images/home_icon.png') }}" alt="Home アイコン" class="header-icon">
                </button>
            
                <!-- 戻る アイコン -->
                <button type="submit" class="header-link">
                    <img src="{{ url_for('static', filename='images/back_icon.png') }}" alt="戻る アイコン" class="header-icon">
                </button>
            </div>
        </div>
    </header>

    <main>
        <div class="title">
            <h1>今日は何をしましょう？</h1>
        </div>
        <div class="selection">
            <div class="left">
                <form action="{{ url_for('start_main') }}" method="GET">
                    <button type="submit" class="debate">ディベート</button>
                </form>
            </div>
            <div class="right">
                <div class="top">
                    
                        <button type="submit" class="reflect">記録</button>
                    
                        <button type="submit" class="weak">私の弱点</button>
                    
                </div>
                <div class="down">
                    <form action="{{ url_for('start_job_mode') }}" method="GET">
                        <button type="submit" class="syukatsu">就活モード<br>ディベート</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
